run = "uvicorn main:app --host=0.0.0.0 --port=8000 --reload"
modules = ["python-3.11"]

[env]
PORT = "8000"

[deployment]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80

[nix]
